<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835332221375-2a3a205n3d22h6h09jpcrem25d88dhvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835332221375-2a3a205n3d22h6h09jpcrem25d88dhvj</string>
	<key>API_KEY</key>
	<string>AIzaSyAUQpzMOiM69pOj13O8a_78JwtX5NXp7og</string>
	<key>GCM_SENDER_ID</key>
	<string>835332221375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spl.invoicemate</string>
	<key>PROJECT_ID</key>
	<string>invoicemate-cc07d</string>
	<key>STORAGE_BUCKET</key>
	<string>invoicemate-cc07d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835332221375:ios:e49cf31c0f98fcd661590a</string>
</dict>
</plist>